In [1]:
import pandas as pd

# clean up and filter the trip data
order = pd.read_csv("..//..//..//Database//NYC_trip//order_260.csv", index_col=0)
order

         sid            call_time  eid             end_time
0         68  2022-06-01 00:25:41   47  2022-06-01 00:48:22
1         68  2022-06-01 00:10:17   47  2022-06-01 00:34:46
2         68  2022-06-01 09:18:54   47  2022-06-01 09:59:52
3         68  2022-06-01 10:57:55   47  2022-06-01 12:01:37
4         68  2022-06-01 12:10:46   47  2022-06-01 12:52:32
...      ...                  ...  ...                  ...
3495481  144  2022-06-24 15:12:16   97  2022-06-24 16:28:05
3495482  238  2022-06-07 17:34:49   97  2022-06-07 21:40:15
3495483  232  2022-06-11 15:26:06   97  2022-06-11 16:23:05
3495484   86  2022-06-06 23:05:13   97  2022-06-06 23:36:47
3495485   78  2022-06-21 12:31:06   97  2022-06-21 14:02:36

[3495486 rows x 4 columns]

In [2]:
order["call_time"] = pd.to_datetime(order["call_time"])
order["end_time"] = pd.to_datetime(order["end_time"])
order['delta_min']  = order['end_time'] - order['call_time']
order['delta_min'] = order['delta_min'].apply(lambda x: x.total_seconds()/60)
order = order[order['delta_min'] < 120]
order = order[order['delta_min'] > 0]
start_time = pd.to_datetime("2022-06-01 00:00:00 AM")
end_time = pd.to_datetime("2022-07-01 00:00:00 AM")
order = order[(order["call_time"] > start_time) & (order["call_time"] <= end_time)]
order.to_csv("..//..//..//Database//NYC_trip//order_clean_260.csv")
order

         sid           call_time  eid            end_time  delta_min
0         68 2022-06-01 00:25:41   47 2022-06-01 00:48:22  22.683333
1         68 2022-06-01 00:10:17   47 2022-06-01 00:34:46  24.483333
2         68 2022-06-01 09:18:54   47 2022-06-01 09:59:52  40.966667
3         68 2022-06-01 10:57:55   47 2022-06-01 12:01:37  63.700000
4         68 2022-06-01 12:10:46   47 2022-06-01 12:52:32  41.766667
...      ...                 ...  ...                 ...        ...
3495480  128 2022-06-30 19:39:42   97 2022-06-30 20:44:45  65.050000
3495481  144 2022-06-24 15:12:16   97 2022-06-24 16:28:05  75.816667
3495483  232 2022-06-11 15:26:06   97 2022-06-11 16:23:05  56.983333
3495484   86 2022-06-06 23:05:13   97 2022-06-06 23:36:47  31.566667
3495485   78 2022-06-21 12:31:06   97 2022-06-21 14:02:36  91.500000

[3489564 rows x 5 columns]